body{
	margin:0;
	background-color:black;
	font-family:"Verdana";
}
.nav{
	width:100%;
	height:5vh;
	background-color:black;
	color:#77c9d4;
}
.container{
	display:flex;
	margin:0;
	flex-direction:row;
	padding:1vw;
	padding-top:0px;
}
.filter{
	width:100%;
	padding:1%;
	box-sizing:border-box;
	display:flex;
}
.restaurants{
	list-style-type:none;
	padding: 0;
}
.ritem{
	text-align: center;
	color:white;
	margin: 2%;
	padding:2% 0px;
	background-color:black;

}
#finput{
	height:30px;
	width:70%;
	padding:0;
	border:none;
	outline:none;
}
#fbutton{
	height:30px;
	width:30%;
	padding:0;
	border:none;
	background-color:black;
	color:#77c9d4;
	outline:none;
}
#title{
	line-height:5vh;
	padding-left:2%;
}
#map{
	height:94vh;
	width:70vw;
	margin:0;
}
#list{
	width:28vw;
	background-color:#313956;
	margin-right:1%;
}
/*Responsive Breakpoint*/
@media screen and (max-width:800px) {
	body{
		padding:0px 2%;
	}
	.container{
		flex-direction:column;
		padding-right:1%;
	}
	#map{
		width:100%;
		height:50vh;
	}
	#list{
		margin-top:1vh;
		width:100%;
		height:44vh;
		order:1;
		padding:0px;
	}
} 
li:hover{
	background-color:white;
	color:black;
	font-weight:bold;
}